In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_data.csv')

/home/deepanshu/Documents/udacity_project_plagarism/workspace_udacity/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6486695 entries, 0 to 6486694
Data columns (total 24 columns):
Unnamed: 0           int64
customer_id          int64
item_id              int64
id                   int64
campaign_id          int64
coupon_id            int64
redemption_status    int64
age_range            object
marital_status       object
rented               float64
family_size          object
no_of_children       object
income_bracket       float64
campaign_type        object
start_date           object
end_date             object
brand                int64
brand_type           object
category             object
date                 object
quantity             float64
selling_price        float64
other_discount       float64
coupon_discount      float64
dtypes: float64(6), int64(8), object(10)
memory usage: 1.2+ GB

In [6]:
def reduce(df ):
    for col in df.columns:
        if df[col].dtype == 'float64' :
            df[col] = df[col].astype('float32')
        if df[col].dtype == 'int64':
            df[col] = df[col].astype('int32')
        if df[col].dtype == 'object':
            df[col] = df[col].astype('str')
reduce(df)

In [8]:
df.to_csv('reduced.csv')

In [9]:
df.describe()

,Unnamed: 0,customer_id,item_id,id,campaign_id,coupon_id,redemption_status,rented,income_bracket,brand,quantity,selling_price,other_discount,coupon_discount
count,6.486695e+06,6.486695e+06,6.486695e+06,6.486695e+06,6.486695e+06,6.486695e+06,6.486695e+06,3.854210e+06,3.854210e+06,6.486695e+06,141060.000000,141060.000000,141060.000000,141060.000000
mean,3.243347e+06,7.761457e+02,3.601135e+04,6.231201e+04,1.203253e+01,1.843287e+02,5.003195e-02,4.990854e-02,4.800741e+00,1.418843e+03,1.323486,106.648689,-22.048117,-1.228815
std,1.872548e+06,4.679580e+02,2.105606e+04,3.749030e+04,4.551868e+00,3.106545e+02,2.180109e-01,2.177560e-01,2.253391e+00,1.500482e+03,0.862037,101.426460,38.386162,7.630325
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.710000,-1175.099976,-534.299988
25%,1.621674e+06,3.690000e+02,1.780500e+04,2.995200e+04,8.000000e+00,2.000000e+01,0.000000e+00,0.000000e+00,4.000000e+00,2.090000e+02,1.000000,53.430000,-31.700001,0.000000
50%,3.243347e+06,7.570000e+02,3.765700e+04,6.307200e+04,1.300000e+01,2.300000e+01,0.000000e+00,0.000000e+00,5.000000e+00,9.460000e+02,1.000000,88.690002,-7.120000,0.000000
75%,4.865020e+06,1.192000e+03,5.308400e+04,9.520000e+04,1.300000e+01,1.240000e+02,0.000000e+00,0.000000e+00,6.000000e+00,1.923000e+03,1.000000,124.309998,0.000000,0.000000
max,6.486694e+06,1.582000e+03,7.406100e+04,1.285950e+05,3.000000e+01,1.115000e+03,1.000000e+00,1.000000e+00,1.200000e+01,5.472000e+03,54.000000,4593.910156,0.000000,0.000000

In [1]:
!ls

analysis.ipynb	data  eda.ipynb  merge.ipynb  ronaldo.ipynb