In [1]:
# loading the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
transaction_df = pd.read_csv('data/train_AUpWtIz/customer_transaction_data.csv')
item_df = pd.read_csv('data/train_AUpWtIz/item_data.csv' )
campaign_df = pd.read_csv('data/train_AUpWtIz/campaign_data.csv' )
main_df = pd.read_csv('data/train_AUpWtIz/train.csv' )
coupon_item_df = pd.read_csv('data/train_AUpWtIz/coupon_item_mapping.csv')
customer_details_df = pd.read_csv('data/train_AUpWtIz/customer_demographics.csv')

In [3]:
main_cust_camp = pd.merge(pd.merge( main_df , customer_details_df , on ='customer_id'  , how='left' ) , campaign_df , on='campaign_id' , how='left')
main_cust_camp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78369 entries, 0 to 78368
Data columns (total 14 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
age_range            43661 non-null object
marital_status       25394 non-null object
rented               43661 non-null float64
family_size          43661 non-null object
no_of_children       14056 non-null object
income_bracket       43661 non-null float64
campaign_type        78369 non-null object
start_date           78369 non-null object
end_date             78369 non-null object
dtypes: float64(2), int64(5), object(7)
memory usage: 9.0+ MB

In [4]:
len(main_cust_camp['coupon_id'].unique())

866

In [5]:
len(coupon_item_df['coupon_id'].unique())

1116

In [6]:
main_cust_camp_coupon_item  =pd.merge(main_cust_camp , coupon_item_df , on='coupon_id' , how = 'left' )

In [7]:
main_cust_camp_coupon_item.tail()

,id,campaign_id,coupon_id,customer_id,redemption_status,age_range,marital_status,rented,family_size,no_of_children,income_bracket,campaign_type,start_date,end_date,item_id
6420689,128595,13,681,623,0,NaN,NaN,NaN,NaN,NaN,NaN,X,19/05/13,05/07/13,16981
6420690,128595,13,681,623,0,NaN,NaN,NaN,NaN,NaN,NaN,X,19/05/13,05/07/13,44676
6420691,128595,13,681,623,0,NaN,NaN,NaN,NaN,NaN,NaN,X,19/05/13,05/07/13,38641
6420692,128595,13,681,623,0,NaN,NaN,NaN,NaN,NaN,NaN,X,19/05/13,05/07/13,34285
6420693,128595,13,681,623,0,NaN,NaN,NaN,NaN,NaN,NaN,X,19/05/13,05/07/13,990

In [12]:
new_transaction_df = transaction_df.set_index(  [ 'customer_id' , 'item_id' ] ) 
new_main_df = main_cust_camp_coupon_item.set_index( [  'customer_id' , 'item_id' ] )
#pd.DataFrame( transaction_df , index = trans_index )

In [20]:
new_transaction_df_index = new_transaction_df.index
new_main_df_index= new_main_df.index

In [ ]:
res = main_cust_camp_coupon_item.loc[new_main_df_index.intersection(new_transaction_df_index) ]

In [8]:
main_table_modified = main_cust_camp_coupon_item.reindex(  [ 'customer_id' , 'item_id' ] )

In [9]:
transaction_table_modified = transaction_df.reindex( [ 'customer_id' , 'item_id' ] )

In [ ]:
transaction_table_modified.head()

In [ ]:
transaction_df.info()

In [ ]:
print( type(transaction_table_index ) )

In [ ]:
transaction_df.reindex(transaction_table_index)

In [ ]:
transaction_df.head()

In [ ]:
main_table_index = main_table_index.unique()

In [ ]:
transaction_table_index = transaction_table_index.unique()

In [ ]:
unique_main_table = main_cust_camp_coupon_item[main_table_index]
unique_transaction_table = transaction_df[transaction_table_index]

In [ ]:
main_table_index.values[0]

In [ ]:
sucessful_campaign = main_table_index.isin(transaction_table_index)

In [ ]:
transaction_table_subset  = transaction_table_index.isin( main_table_index )

In [ ]:
if transaction_table_subset.sum() == sucessful_campaign.sum():
    print('same')

In [ ]:
res = pd.concat(main_cust_camp_coupon_item[sucessful_campaign] , transaction_df[transaction_table_subset] , axis =1)

In [ ]:
transaction_table_subset.sum()

In [ ]:
(sucessful_campaign.sum() )

In [ ]:
intersection.sum()

In [ ]:
intersection[0:10000]

In [ ]:
success = pd.concat(main_cust_camp_coupon_item[intersection] )